<!DOCTYPE html>
<html lang="en">
<%- include('head', { title }); %>
<body>
  <%- include('header'); %>
  <br />
  <br />
  <div id="main-result" class="container">
    <%- include('communities/index', { communityTable }); %>
  </div>
  <br />
  <hr>
  <br />
  <br />
  <div class="container">
    <%- include('modules'); %>
  </div>
  <br />
  <%- include('auth/index') %>
  <%- include('footer'); %>

  <!-- Include htmx -->
  <script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.js"></script>
</body>
</html>
