<!DOCTYPE html>
<html lang="en">
<%- include('head', { title }); %>
<body>
  <%- include('header'); %>
  <%- include('breadcrumb', {
    links: [
      { name: `CMS`, url: `/` },
      { name: `Tenant`, url: `/` },
      { name: `${tenant.slug}`, url: `/tenant/${tenant.slug}` },
    ]
  }); %>
  <br />

  <div id="main-result" class="container">
    config tenant
  </div>
  <br />
  <%- include('auth/index') %>
  <%- include('footer'); %>
  <%- include('session'); %>

  <!-- Include htmx -->
  <script src="https://unpkg.com/htmx.org@1.7.0/dist/htmx.js"></script>
</body>
</html>
