<br />
<hr>
<br />
<br />
<div class="container">
  <h5 style="margin: 0;">µSaaS Modules</h5>
  <div class="card">
    <div class="card-content">
      <div class="row">
        <div class="col s12">
          <h5 style="margin: 0;">All-in-one framework based on micro services!</h5>
          <p style="margin: 0;">Each module does one social media network thing and does it well. Pick and choose which modules to enable and how many to enable for your community. Each micro service is a <a href="https://nestjs.com/" target="_blank">NestJS</a> application with a <a href="https://www.json.org/" target="_blank">JSON</a> <a href="https://en.wikipedia.org/wiki/API" target="_blank">API</a> backend and <a href="https://ejs.co" target="_blank">EJS</a> <a href="https://htmx.org" target="_blank">HTMX</a> frontend. For micro services that require data from one another we use <a href="https://www.rabbitmq.com/" target="_blank">RabbitMQ</a> to syncronize records. As a result our HTTP component based <a href="https://materializecss.com/" target="_blank">UI/UX</a> can be leveraged to run fully custom on your own servers via <a href="/swagger">REST / AJAX</a> or <a href="https://github.com/subvind">source code</a>.</p>
        </div>
      </div>
      <div class="row">
        <div class="col s12 m2" style="text-align: center;">
          <a href="https://home.getnomy.com<%- path -%>" class="btn btn-large btn-floating black"><i class="material-icons">home</i></a>
        </div>
        <div class="col s12 m10">
          <h5 style="margin: 0;">
            nomy.HOME
          </h5>
          <hr>
          <p style="margin: 0;">
            Easily engage and empower your community.
  
            Load balance traffic by creating a splash page landing or homepage that is optimized for every user. No code needed.
          </p>
          <a href="https://home.getnomy.com<%- path -%>">https://home.getnomy.com<%- path -%></a> - coming soon!
        </div>
      </div>

      <div class="row">
        <div class="col s12 m2" style="text-align: center;">
          <a href="https://erp.getnomy.com<%- path -%>" class="btn btn-large btn-floating black"><i class="material-icons">shopping_cart</i></a>
        </div>
        <div class="col s12 m10">
          <h5 style="margin: 0;">
            nomy.ERP
          </h5>
          <hr>
          <p style="margin: 0;">
            Easily create and manage your e-commerce business.

            Accept orders, manage products and sell online using your very own storefront in minutes. No code needed.
          </p>
          <a href="https://erp.getnomy.com<%- path -%>">https://erp.getnomy.com<%- path -%></a> - coming soon!
        </div>
      </div>

      <div class="row">
        <div class="col s12 m2" style="text-align: center;">
          <a href="https://tube.getnomy.com<%- path -%>" class="btn btn-large btn-floating black"><i class="material-icons">videocam</i></a>
        </div>
        <div class="col s12 m10">
          <h5 style="margin: 0;">
            nomy.TUBE
          </h5>
          <hr>
          <p style="margin: 0;">
            Easily promote and sell your goods and services.

            Notify subscribers, manage playlists, and showcase videos using your very own catalog in minutes. No code needed.
          </p>
          <a href="https://tube.getnomy.com<%- path -%>">https://tube.getnomy.com<%- path -%></a> - coming soon!
        </div>
      </div>

      <div class="row">
        <div class="col s12 m2" style="text-align: center;">
          <a href="https://desk.getnomy.com<%- path -%>" class="btn btn-large btn-floating black"><i class="material-icons">work</i></a>
        </div>
        <div class="col s12 m10">
          <h5 style="margin: 0;">
            nomy.DESK
          </h5>
          <hr>
          <p style="margin: 0;">
            Easily create and manage your productized service.

            Accept monthly subscription plans, manage tasks and communicate using your very own client area in minutes. No code needed.
          </p>
          <a href="https://desk.getnomy.com<%- path -%>">https://desk.getnomy.com<%- path -%></a> - coming soon!
        </div>
      </div>

      <div class="row" style="margin-bottom: 0;">
        <div class="col s12 m2" style="text-align: center;">
          <a href="https://ims.getnomy.com<%- path -%>" class="btn btn-large btn-floating black"><i class="material-icons">chat</i></a>
        </div>
        <div class="col s12 m10">
          <h5 style="margin: 0;">
            nomy.IMS
          </h5>
          <hr>
          <p style="margin: 0;">
            Easily host a peer 2 peer chat service.
            
            Instantly accept and receive personal messages over websockets and via notifications when offline. No code needed.
          </p>
          <a href="https://ims.getnomy.com<%- path -%>">https://ims.getnomy.com<%- path -%></a> - in development!
        </div>
      </div>
    </div>
  </div>
</div>
<br />

<style>
  .logo {
    margin: 0;
  }
  .nav {
    margin: 0 0 0 1em;
    float: right;
    color: #333;
    text-decoration: underline;
  }
  .nav:hover {
    text-decoration: none;
    background: #1a95e0;
    color: #fff;
  }
  
  .cms {
    color: #333;
  }
  .cms:hover {
    color: #000;
  }
  .result {
    border: 5px dashed #eee;
    padding: 1em;
  }
</style>